<ul class="nav nav-tabs tabs-hide hidden-xs hidden-sm">
    <% for(var i = 0; i < tabs.length; i++){
    var ta = _.findWhere(tabsActive, {_id: tabs[i]._id});
        if (ta && !ta.isActive) {
            continue;
        }
    %>

    <li
            <% if(tabs[i].ngShow && tabs[i].ngShow != ''){ %>
            ng-show="<%= tabs[i].ngShow %>"
            <% } %>
    >
        <a href="#/cid/{{course._id}}?tab=<%= tabs[i].name %>"
           data-toggle="tab" data-target="#<%= tabs[i].name %>">
            <i class="<%= tabs[i].icon %>"></i><br>
            <span><%= tabs[i].displayName %></span>
        </a>
    </li>

    <%
    }
    %>
</ul>

<ul class="nav nav-tabs tabs-hide visible-xs visible-sm draw-tab ">
    <% for(var i = 0; i < tabs.length; i++){
        var ta = _.findWhere(tabsActive, {_id: tabs[i]._id});
        if (ta && !ta.isActive) {
            continue;
        }
    %>

    <li
            <% if(tabs[i].ngShow && tabs[i].ngShow != ''){ %>
            ng-show="<%= tabs[i].ngShow %>"
            <% } %>
    >
        <a href="#/cid/{{course._id}}?tab=<%= tabs[i].name %>"
           data-toggle="tab" data-target="#<%= tabs[i].name %>"
           onclick="hideTabMenu()">
            <i class="<%= tabs[i].icon %>"></i><br>
            <span><%= tabs[i].displayName %></span>
        </a>
    </li>

    <%
    }
    %>

</ul>