<% include ../header %>
<div class="wrapper">

    <!-- Header Navbar -->
    <% include ../mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-controller="CourseController">

        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/catalogs/courses"> </i> Courses</a></li>
                <li><a href="/catalogs/<%=course.category.slug%>"> </i> <%=course.category.category%></a></li>
                <li class="active"><%=course.course%></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box no-border" id="courseTabs">
                <div class="box-header no-border">
                    <h1><%=course.course%></h1>
                    <% if(!user){ %>
                        <a class="btn btn-primary btn-flat" href="/accounts/login?ref={{followUrl|base64Encode:true}}">Please login to follow this course</a>
                    <% } else {
                        if (!follow && course.startedBy.username != user.username){ %>
                        <a class="btn btn-primary btn-flat" href="/api/catalogs/course/<%= course._id%>/follow">Follow</a>
                        <% }
                        if (course.startedBy.username == user.username){ %>

                        <% } else { %>
                        You are following this course. <a class="" href="/api/catalogs/course/<%= course._id%>/unfollow">click here to Unfollow</a>
                        <% }
                       }%>
                </div>
                <div class="box-body no-border">

                    <!-- tabs left -->
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs tabs-hide hidden-xs">
                            <li class="active"><a href="#/preview" data-toggle="tab" data-target="#preview">
                                <i class="ionicons ion-ios-home-outline"></i><br>
                                <span>Preview</span></a></li>

                            <% if(follow || course.startedBy.username == user.username){ %>
                            <li><a href="#/map" data-toggle="tab" data-target="#map">
                                <i class="ionicons ion-map"></i>
                                <span>CourseMap</span></a></li>
                            <% }%>
                            <li><a href="#/updates" ng-show="user" data-toggle="tab" data-target="#updates">
                                <i class="ionicons ion-ios-time-outline"></i><br>
                                <span>Updates</span></a></li>
                            <li><a href="#/discussion" ng-show="user" data-toggle="tab" data-target="#discussion">
                                <i class="ionicons ionicons ion-ios-chatboxes-outline"></i><br>
                                <span>Discussion</span></a></li>
                            <li><a href="#/analytics" ng-show="user" data-toggle="tab" data-target="#analytics">
                                <i class="ionicons ion-stats-bars"></i><br>
                                <span>Analytics</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="preview">

                                <div class="col-xs-9">
                                    <div class="form-group">
                                        Started By: <strong><%=(course.startedBy.username == user.username)?'You':course.startedBy.username%></strong> on <b> <%=moment(course.startedAt).fromNow()%></b>
                                        <!-- -
                                        Last activity:<b> 2 days ago</b><br>
                                        User Rating:
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>-->
                                    </div>
                                        <img src="/img/courses/<%=(course.picture)?course.picture:'placeholder.png'%>">
                                    <div class="form-group">
                                    <%=course.description%>
                                    </div>
                                    <div class="form-group">
                                        <!-- general public analytics about this course -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="map" >
                                <div class="box-body no-border" id="tree" ng-controller="TreeController">
                                    <cm-tree el="treeSVG" width="4000" height="4000">
                                        <% include rightMenu %>
                                    </cm-tree>
                                </div>
                            </div>
                            <div class="tab-pane" id="discussion"></div>
                            <div class="tab-pane" id="updates"></div>
                            <div class="tab-pane" id="analytics"></div>
                        </div>
                    </div>
                    <!-- /tabs -->

                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->


<script src="/d3/d3.min.js"></script>
<% include ../jsfooter %>
<script src="/jquery/jquery-ui.min.js"></script>
<script src="/jquery/jquery.ui.touch-punch.min.js"></script>
<script src="/d3/rightclick.js"></script>
<script src="/d3/tree.js"></script>

<% include ../footer %>