<% include header %>
<div class="wrapper">
    <!-- Header Navbar -->
    <% include ../admin-lte/mainMenu %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <ol class ="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class ="active"> Slides ></li>
            </ol>
            <h1>
                Slides
            </h1>
        </section>
        <section class="content" ng-controller="CommentListController">
          <div class="row">
            <div class= "col-sm-12 col-md-12">
              <div class="col-sm-7 col-md-7">
                <div class="box">
                  <div class="box-body with-border">
                    <h3 class="">Slides</h3>
                    <div class="pannel box box-primary slideWrapper">
                      <div id="viewerWrapper">
                        <div id="viewerContainer">
                            <div id="viewer" class="pdfViewer"></div>
                        </div>
                        <div id="annotationZone"></div>
                        <div id="slideNavigationWrapper">
                          <div id="slideNavigationProgress"></div>
                          <div id="slideNavigation" class="row">
                            <div class="col-md-4 text-center"></div>
                            <div class="col-md-4 text-center"><div class="row"><span class="glyphicon glyphicon-triangle-left iconSlideNav" aria-hidden="true"></span> <span id="slideNavText" class="fsSlideNav">17/33</span><span class="glyphicon glyphicon-triangle-right iconSlideNav" aria-hidden="true"></span></div></div>
                            <div class="col-md-4 text-right"><span class="glyphicon glyphicon-fullscreen iconSlideNav" aria-hidden="true"></span></div>
                          </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-5">
                <div class="box">
                  <div class="box-body with-border">
                    <h3 class="">Comments</h3>
                    <div class="pannel box box-primary">
                      <div class= "annotation-wrapper">
                        <div id="showComments">
                        <!--<% for(var i = 0; i < numComments; i++) {%>
                          <div>
                            <label><%=comments[i].author%>(<%=comments[i].dateOfCreation.toTimeString()%>)</label>
                          </div>
                          <div>
                            <%=comments[i].rawText%>
                          </div>
                          <div>
                            <br>
                          </div>
                        <% } %>-->
                        </div>
                        <form action='/slide-viewer/submitComment' method="POST" onsubmit="return commentOnSubmit()">
                          <fieldset>
                            <div class="control-group">
                               <label for="rawText">Commenting as <%=currentUser.username%></label>
                               <div class="controls">
                                 <textarea class="form-control" id="rawText" name="rawText" placeholder="rawText"></textarea>
                               </div>
                             </div>
                             <div class="control-group">
                               <div class="controls">
                                 <input type="hidden" class="form-control" id="author" name="author" placeholder="author" value= <%=currentUser.username%> >
                               </div>
                             </div>
                             <div class="control-group">
                               <div class="controls">
                                 <input class="form-control" id="tagNames" name="tagNames" placeholder="tagNames" type="hidden">
                                 <input class="form-control" id="tagRelPos" name="tagRelPos" placeholder="tagRelPos" type="hidden">
                                 <input class="form-control" id="tagRelCoord" name="tagRelCoord" placeholder="tagRelCoord" type="hidden">
                                 <input class="form-control" id="tagColor" name="tagColor" placeholder="tagColor" type="hidden">

                               </div>
                             </div>
                             <!--Used as Template for annotation zone items -->
                             <div id="annotationZoneSubmitTemplate" style="visibility: hidden;">
                               <input id="annotationZoneSubmitName" placeholder="Enter annotation zone name">
                               <select id="annotationZoneSubmitColor">
                                 <option>Red</option>
                                 <option>Blue</option>
                                 <option>Green</option>
                               </select>
                               <button class="btn btn-default" onclick="removeAnnotationZone(this);">Remove</button>
                             </div>
                             <!-- Will be filled when annotation zones are created -->
                             <div id="annotationZoneSubmitList">
                             </div>

                             <div class="control-group">
                               <div class="controls">
                                 <button type="submit" class="btn btn-default">Submit</button>
                               </div>
                             </div>
                           </fieldset>
                        </form>
                        <!--<button class="btn btn-default" onclick="addAnnotationZoneData('test',1,2,3,4,'Red');">CREATE TEST ANNOTATION ZONE</button>-->

                        <div class="controls">
                          <!--<button class="btn btn-default" onclick="displayComments();">Show comments</button>
                          <div >
                            <button class="btn btn-default" ng-click="loadComments('renderedText','true','{}')">Show comments Angular</button>
                            <button class="btn btn-default" ng-click="loadComments('renderedText','false','{}')">Show comments Angular2</button>
                          </div>-->
                          Sort by:
                          <div >

                            <select id="orderTypeSelect" ng-model="orderType">
                              <option value="author">author</option>
                              <option value="dateOfCreation">dateOfCreation</option>
                              <option value="rawText">rawText</option>
                            </select>
                            <select id="orderAscendingSelect" ng-model="ascending">
                              <option value="true">ascending</option>
                              <option value="false">descending</option>
                            </select>
                          </div>
                          Filter by:
                          <div >
                            <input id="filterValueText" ng-model="filtersRaw"></input>
                          </div>
                        </div>
                        <!--<div>

                          <form action='/slide-viewer/submitTag' method="POST">
                            <fieldset>
                              <div class="control-group">
                                 <div class="controls">
                                   <input class="form-control" id="annotationZoneName" name="annotationZoneName" placeholder="annotationZoneName"></textarea>
                                 </div>
                               </div>
                             </fieldset>
                             <div class="control-group">
                               <div class="controls">
                                 <button type="submit" class="btn btn-default">Submit</button>
                               </div>
                             </div>
                          </form>

                        </div>-->
                        <div >
                            <div id="annZoneList" ng-controller="AnnotationZoneListController">
                              Annotation Zone List:
                              <div id="annotationZoneList" ng-repeat="annZone in annZones" ng-cloak>
                                <div class="{{annZone.name}}">
                                  {{annZone.name}}
                                  {{annZone.color}}

                                  </script>
                                </div>
                              </div>

                            <div>
                            Comment List:
                            <div ng-repeat="comment in comments" ng-cloak>
                              <div>
                                  <label class='authorLabel' onclick='authorLabelClick($(this))'>{{comment.author}}</label><label>({{comment.date}}</label>

                                  <div class="commentText" ng-bind-html="comment.html">
                                  </div>
                                  <br>
                                </div>

                              </div>
                          </div>
                        </div>
                        <div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


    </div>
</div><!-- ./wrapper -->
<% include ../admin-lte/jsfooter %>





<script src="/slide-viewer/js/slideviewer.js"></script>


<script src="/jquery/jquery-ui.min.js"></script>
<script src="/gridstack/lodash.min.js"></script>
<script src="/gridstack/gridstack.js"></script>

<link rel="stylesheet" href="../pdfjs/build/components/pdf_viewer.css">

<!-- for legacy browsers -->
<script src="../pdfjs/build/components/compatibility.js"></script>
<script src="../pdfjs/build/pdf.js"></script>
<script src="../pdfjs/build/components/pdf_viewer.js"></script>
<script src="../pdfjs/js/pageviewer.js"></script>
<script src="js/drawdiv.js"></script>

<% include ../admin-lte/footer %>
